/* about */
.about__container{
    padding-bottom: 2rem;
}

.about__content{
    row-gap: 3rem;
}

.about__image{
    position: relative;
    margin-bottom: 1.5rem;
}

.about__img{
    border-radius: .5rem;
}

.about__button{
    display: inline-flex;
    background-color: #fff;
    padding: 1.15rem;
    border-radius: .5rem 0 .5rem 0;
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    right: 0;
    bottom: 0;
}

.about__button i{
    transform: rotate(-30deg);
    transition: .4s;
}

.about__button:hover i{
    transform: rotate(-30deg) translateX(.25rem);
}

.about__title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.about__description{
    margin-bottom: 1.5rem;
}

.about__footer,
.about__reaction{
    display: flex;
    align-items: center;
}

.about__footer{
    column-gap: 1.5rem;
}

.about__reaction{
    column-gap: .25rem;
}

.about__reaction i{
    font-size: 1.25rem;
}

.about__reaction span{
    font-size: var(--small-font-size);
}