/* Load */
.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 99%);
    display: grid;
    place-items: center;
    z-index: 1000;
}

/* The size may very depending on the image of the gif */
.load__gif{
    width: 210px;
}