/* Specialty */
.specialty__button{
    margin-left: 1.25rem;
}

.specialty_category{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    row-gap: 2.5rem;
}

.specialty__img{
    width: 60px;
    margin-bottom: 1rem;
    transition: .4s;
}

.specialty__group{
    text-align: center;
}

.specialty__title{
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
}

.specialty__group:hover .specialty__img{
    transform: translateY(-.25rem);
}