/*Change Background header*/
.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px var(--second-color);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle{
    color: var(--title-color);
}

.scroll-header .nav__logo-img{
    mix-blend-mode: difference;
}

/* Active link */
.active-link{
    color: #fff;
}